* {
    margin: 0px;
    padding: 0px;
}

header {background-color: green;grid-area: header;}
nav {background-color: blue; grid-area: nav;}
article{background-color: red;grid-area: article;}
div{background-color: aqua; grid-area: ads;}
footer{background-color: blueviolet; grid-area: footer;}

body{
    background-color: dimgrey;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "header header header" 
    "nav article ads" 
    "nav article ads" 
    "nav article ads" 
    "footer footer footer";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows:10% 5% 70% 5% 10%;
    
}

